<div class="container">
<img routerLink="/" class="brand-logo" src="assets/dbsbank_logo.svg" alt="DBS Logo">
 
<h1><mat-icon>games</mat-icon>
  <u>PAYMENT UTILITY</u><mat-icon>assured_workload</mat-icon></h1>
<mat-grid-list cols="2" class="custom">
  <mat-grid-tile>        
  <mat-card class="example-card">
    <mat-card-header >
      <mat-icon>published_with_changes</mat-icon>
      <h1 [style.color] = "'black'" >Payment Management </h1>
    </mat-card-header>
    <img mat-card-image routerLinkActive="active" routerLink="/home" src="assets/make_transactions.webp" alt="Photo">
    <mat-card-actions [style.text-align]="'center'">
      <button  mat-raised-button  color="dark" routerLinkActive="active" mat-button routerLink="/home">Make Transaction</button>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>   
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>fact_check</mat-icon>

      <h1 >Transaction History</h1>
    </mat-card-header>
    <img mat-card-image  routerLinkActive="active" routerLink="/transhistory" src="assets/make_transaction.webp" alt="Photo">
    <mat-card-actions [style.text-align]="'center'" >
      <button mat-raised-button  color="dark" routerLinkActive="active"  routerLink="/transhistory" >View Transactions</button>
    </mat-card-actions>
  </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>  